In [1]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split

# Suppress Warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
customer_data = pd.read_csv('BlackFriday.csv')

In [3]:
customer_data = customer_data.drop(columns=['Product_Category_2', 'Product_Category_3'], inplace=False,axis=1)

In [60]:
del customer

In [61]:
customer = customer_data.copy()

In [62]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 10 columns):
User_ID                       537577 non-null int64
Product_ID                    537577 non-null object
Gender                        537577 non-null object
Age                           537577 non-null object
Occupation                    537577 non-null int64
City_Category                 537577 non-null object
Stay_In_Current_City_Years    537577 non-null object
Marital_Status                537577 non-null int64
Product_Category_1            537577 non-null int64
Purchase                      537577 non-null int64
dtypes: int64(5), object(5)
memory usage: 41.0+ MB

## Feature Engineering

In [63]:
customer['User_ID'] = customer['User_ID'].astype('str', copy=False)
customer['Occupation'] = customer['Occupation'].astype('str', copy=False)
customer['Marital_Status'] =  customer['Marital_Status'].map({0 : 'UnMarried', 1: 'Married'})
customer['Product_Category_1'] = customer['Product_Category_1'].astype('str', copy=False)

# Setting all the categorical columns to type category
for col in set(customer.columns) - set(customer.describe().columns):
    customer[col] = customer[col].astype('category')
    

print(customer.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 10 columns):
User_ID                       537577 non-null category
Product_ID                    537577 non-null category
Gender                        537577 non-null category
Age                           537577 non-null category
Occupation                    537577 non-null category
City_Category                 537577 non-null category
Stay_In_Current_City_Years    537577 non-null category
Marital_Status                537577 non-null category
Product_Category_1            537577 non-null category
Purchase                      537577 non-null int64
dtypes: category(9), int64(1)
memory usage: 10.1 MB
None

# Average Value

## User_ID

In [64]:
user_id_avg = customer.pivot_table(index='User_ID', values='Purchase', aggfunc=np.mean)

user_id_avg = user_id_avg.rename(index=str, columns={'Purchase': 'Avg_User_Purchase'})

In [65]:
customer.index = customer.User_ID

In [66]:
customer = customer.join(user_id_avg, on= 'User_ID')

## Product ID

In [67]:
## new df which contains Avg value for the column value
Product_ID_avg = customer.pivot_table(index='Product_ID', values="Purchase", aggfunc=np.mean)

## Change the name of the column
Product_ID_avg = Product_ID_avg.rename(index= str, columns ={'Purchase': 'Avg_ProductID_Purchase'})

In [68]:
customer.index = customer.Product_ID

In [69]:
customer = customer.merge(Product_ID_avg, on='Product_ID' )

## Gender

In [70]:
gender_avg = customer.pivot_table(index='Gender', values="Purchase", aggfunc=np.mean)

gender_avg = gender_avg.rename(index= str, columns ={'Purchase': 'Avg_Gender_Purchase'})

In [71]:
gender_avg

        Avg_Gender_Purchase
Gender
F               8809.761349
M               9504.771713

In [72]:
customer.index = customer.Gender

In [73]:
customer = customer.join(gender_avg, on='Gender')

## Age

In [74]:
age_avg = customer.pivot_table(index='Age', values="Purchase", aggfunc=np.mean)

age_avg = age_avg.rename(index= str, columns ={'Purchase': 'Avg_Age_Purchase'})
age_avg

       Avg_Age_Purchase
Age
0-17        9020.126878
18-25       9235.197575
26-35       9314.588970
36-45       9401.478758
46-50       9284.872277
51-55       9620.616620
55+         9453.898579

In [75]:
customer.index = customer.Age

customer = customer.join(age_avg, on='Age')

In [76]:
customer.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Purchase', 'Avg_User_Purchase', 'Avg_ProductID_Purchase',
       'Avg_Gender_Purchase', 'Avg_Age_Purchase'],
      dtype='object')

## Occupation

In [77]:
Occupation_Avg = customer.pivot_table(index='Occupation', values="Purchase", aggfunc=np.mean)
Occupation_Avg = Occupation_Avg.rename(index= str, columns ={'Purchase': 'Avg_Occupation_Purchase'})

In [78]:
customer.index = customer.Occupation

In [79]:
customer = customer.join(Occupation_Avg, on='Occupation')

## City_Category

In [80]:
City_Category_avg = customer.pivot_table(index='City_Category', values="Purchase", aggfunc=np.mean)

City_Category_avg = City_Category_avg.rename(index= str, columns ={'Purchase': 'Avg_City_Category_Purchase'})

In [81]:
customer.index = customer.City_Category

In [82]:
customer = customer.join(City_Category_avg, on='City_Category')

## Stay_In_Current_City_Years

In [83]:
Stay_In_Current_City_Years_avg = customer.pivot_table(index='Stay_In_Current_City_Years', values="Purchase", aggfunc=np.mean)

Stay_In_Current_City_Years_avg = Stay_In_Current_City_Years_avg.rename(index= str, columns ={'Purchase': 'Avg_Stay_Years_Purchase'})

In [84]:
customer.index = customer.Stay_In_Current_City_Years

In [85]:
customer = customer.join(Stay_In_Current_City_Years_avg, on='Stay_In_Current_City_Years')

## Marital_Status

In [86]:
Marital_Status_avg = customer.pivot_table(index='Marital_Status', values="Purchase", aggfunc=np.mean)

Marital_Status_avg = Marital_Status_avg.rename(index= str, columns ={'Purchase': 'Avg_Marital_Status_Purchase'})

In [87]:
customer.index = customer.Marital_Status

In [88]:
customer = customer.join(Marital_Status_avg, on='Marital_Status')

## Product_Category_1

In [89]:
Product_Category_1_avg = customer.pivot_table(index='Product_Category_1', values="Purchase", aggfunc=np.mean)

Product_Category_1_avg = Product_Category_1_avg.rename(index= str, columns ={'Purchase': 'Avg_Product_Category_1_Purchase'})

In [90]:
customer.index = customer.Product_Category_1

In [91]:
customer = customer.join(Product_Category_1_avg, on='Product_Category_1')

In [92]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
CategoricalIndex: 537577 entries, 3 to 13
Data columns (total 19 columns):
User_ID                            537577 non-null object
Product_ID                         537577 non-null object
Gender                             537577 non-null object
Age                                537577 non-null object
Occupation                         537577 non-null object
City_Category                      537577 non-null object
Stay_In_Current_City_Years         537577 non-null object
Marital_Status                     537577 non-null object
Product_Category_1                 537577 non-null object
Purchase                           537577 non-null int64
Avg_User_Purchase                  537577 non-null float64
Avg_ProductID_Purchase             537577 non-null float64
Avg_Gender_Purchase                537577 non-null float64
Avg_Age_Purchase                   537577 non-null float64
Avg_Occupation_Purchase            537577 non-null float64
Avg_City_Category_Purchase         537577 non-null float64
Avg_Stay_Years_Purchase            537577 non-null float64
Avg_Marital_Status_Purchase        537577 non-null float64
Avg_Product_Category_1_Purchase    537577 non-null float64
dtypes: float64(9), int64(1), object(9)
memory usage: 78.4+ MB

# Frequency Count for each Category

In [93]:
# feature representing the count of each user
def getCountVar(compute_df, count_df, var_name):
    grouped_df = count_df.groupby(var_name)
    count_dict = {}
    for name, group in grouped_df:
        count_dict[name] = group.shape[0]

    count_list = []
    for index, row in compute_df.iterrows():
        name = row[var_name]
        count_list.append(count_dict.get(name, 0))
    return count_list

In [94]:
customer['ID_Counts'] = getCountVar(customer, customer, 'User_ID')
customer['Product_ID_Counts'] = getCountVar(customer, customer, 'Product_ID')
customer['Age_Counts'] = getCountVar(customer, customer, 'Age')
customer['Gender_Counts'] = getCountVar(customer, customer, 'Gender')
customer['Occupation_Counts'] = getCountVar(customer, customer, 'Occupation')
customer['City_Category_Counts'] = getCountVar(customer, customer, 'City_Category')
customer['Stay_In_Current_City_Years_Counts'] = getCountVar(customer, customer, 'Stay_In_Current_City_Years')
customer['Marital_Status_Years_Counts'] = getCountVar(customer, customer, 'Marital_Status')
customer['Product_Category_1_Counts'] = getCountVar(customer, customer, 'Product_Category_1')

## Polychotomization

In [95]:
# Setting all the categorical columns to type category
for col in set(customer.columns) - set(customer.describe().columns):
    customer[col] = customer[col].astype('category')
    

print(customer.info())

<class 'pandas.core.frame.DataFrame'>
CategoricalIndex: 537577 entries, 3 to 13
Data columns (total 28 columns):
User_ID                              537577 non-null category
Product_ID                           537577 non-null category
Gender                               537577 non-null category
Age                                  537577 non-null category
Occupation                           537577 non-null category
City_Category                        537577 non-null category
Stay_In_Current_City_Years           537577 non-null category
Marital_Status                       537577 non-null category
Product_Category_1                   537577 non-null category
Purchase                             537577 non-null int64
Avg_User_Purchase                    537577 non-null float64
Avg_ProductID_Purchase               537577 non-null float64
Avg_Gender_Purchase                  537577 non-null float64
Avg_Age_Purchase                     537577 non-null float64
Avg_Occupation_Purchase              537577 non-null float64
Avg_City_Category_Purchase           537577 non-null float64
Avg_Stay_Years_Purchase              537577 non-null float64
Avg_Marital_Status_Purchase          537577 non-null float64
Avg_Product_Category_1_Purchase      537577 non-null float64
ID_Counts                            537577 non-null int64
Product_ID_Counts                    537577 non-null int64
Age_Counts                           537577 non-null int64
Gender_Counts                        537577 non-null int64
Occupation_Counts                    537577 non-null int64
City_Category_Counts                 537577 non-null int64
Stay_In_Current_City_Years_Counts    537577 non-null int64
Marital_Status_Years_Counts          537577 non-null int64
Product_Category_1_Counts            537577 non-null int64
dtypes: category(9), float64(9), int64(10)
memory usage: 84.5 MB
None

In [99]:
features = list(customer.columns)
features.remove('Purchase')
features

['Gender',
 'Age',
 'Occupation',
 'City_Category',
 'Stay_In_Current_City_Years',
 'Marital_Status',
 'Product_Category_1',
 'Avg_User_Purchase',
 'Avg_ProductID_Purchase',
 'Avg_Gender_Purchase',
 'Avg_Age_Purchase',
 'Avg_Occupation_Purchase',
 'Avg_City_Category_Purchase',
 'Avg_Stay_Years_Purchase',
 'Avg_Marital_Status_Purchase',
 'Avg_Product_Category_1_Purchase',
 'ID_Counts',
 'Product_ID_Counts',
 'Age_Counts',
 'Gender_Counts',
 'Occupation_Counts',
 'City_Category_Counts',
 'Stay_In_Current_City_Years_Counts',
 'Marital_Status_Years_Counts',
 'Product_Category_1_Counts']

## Dropping User ID and Product ID

In [97]:
customer = customer.drop(columns=['User_ID','Product_ID'], inplace=False, axis=1)

In [100]:
customer.index = np.arange(len(customer))

In [101]:
customer_polychot = pd.get_dummies(data=customer[features], drop_first=True)

## Modeling

In [102]:
x = customer_polychot.copy()
y = customer_data['Purchase']

In [103]:
## Adjusted R^2
def AdjRsquare(model, x, y):
    Rsquare = model.score(x, y)
    NoData = len(y)
    p = x.shape[1]
    tempRsquare = 1 - (1-Rsquare)*(NoData - 1
                                  )/(NoData - p - 1)
    return tempRsquare

In [104]:
## Combine all the steps to test the model performance
def linRegcheckModelPerformance(x, y):
    model = LinearRegression()
    # Covert data into train and test
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2,random_state = 666, shuffle= True)
    # Build model with train data set
    model.fit(x_train, y_train)
    # Train accuracies
    trainR2 = model.score(x_train, y_train)
    predictedPurchaseTrain= model.predict(x_train)
    TrainMse = metrics.mean_squared_error(y_train, predictedPurchaseTrain)
    trainRmse = np.sqrt(TrainMse)
    trainRmsePct = trainRmse/np.mean(np.mean(np.array(y_train)))*100
    trainAdjR2 = AdjRsquare(model, x_train, y_train)
    trainAccuracies = [trainRmse, trainRmsePct, trainR2, trainAdjR2]
    # Test accuracies
    testR2 = model.score(x_test, y_test)
    predictedPurchaseTest = model.predict(x_test)
    TestMse = metrics.mean_squared_error( y_test, predictedPurchaseTest)
    testRmse = np.sqrt(TestMse)
    testRmsePct = testRmse/np.mean(np.mean(np.array(y_test)))*100
    testAdjR2 = AdjRsquare(model, x_test, y_test)
    testAccuracies = [testRmse, testRmsePct, testR2, testAdjR2]
    # Create dataframe for results
    resultsDf = pd.DataFrame(index = ["rmse", "rmsePct", "r2", "adjR2"])
    resultsDf['trainAccuracy'] = trainAccuracies
    resultsDf['testAccuracy'] = testAccuracies
    return ( round(resultsDf, 2))

In [105]:
linRegcheckModelPerformance(x,y)

         trainAccuracy  testAccuracy
rmse           4979.67       4984.44
rmsePct          53.37         53.31
r2                0.00         -0.00
adjR2             0.00         -0.00